{% extends 'app/base.html' %}

{% block content %}
    <div class="container">
        <div>
            <div class="logo"></div>
            <br>
            <div class="box_container">
                {% for  medicao in medicoes %}
                    <div class="box">
                        <div>
                            <div class="box-title">OS: {{ medicao.OS }}</div>
                            <div class="box-title">DNP: {{ medicao.dnp }}</div>
                            <div class="box-title">Ponte: {{ medicao.ponte }}</div>
                            <div class="box-title">Horizontal: {{ medicao.horizontal }}</div>
                            <div class="box-title">Verical: {{ medicao.vertical }}</div>
                            <div class="box-title">Diagonal Maior: {{ medicao.diagonal }}</div>
                            <div class="box-title"><a href="{{ medicao.oma_file.url }}" download>OMA Arquivo</a></div>
                            <div class="box-title">CNPJ Otica: {{ medicao.cnpj_otica }}</div>
                            <div class="box-title">CNPJ Lab: {{ medicao.cnpj_laboratorio }}</div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

        <div class="btn-float">
            <a href="https://instagram.com/" target="_blank" class="btn-float"><i class="fab fa-whatsapp"></i></a>
        </div>
        {% include 'app/TheNavigationBar.html' %}
    </div>
{% endblock %}
